asgiref==3.4.1
beautifulsoup4==4.9.3
Bottleneck @ file:///C:/ci/bottleneck_1607557040328/work
certifi==2021.5.30
Django==3.2.6
django-bootstrap4==3.0.1
mkl-fft==1.3.0
mkl-random @ file:///C:/ci/mkl_random_1626186184308/work
mkl-service==2.4.0
numexpr @ file:///C:/ci/numexpr_1618856728739/work
numpy @ file:///C:/ci/numpy_and_numpy_base_1626271900803/work
pandas @ file:///C:/ci/pandas_1627570332296/work
psycopg2==2.9.1
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz @ file:///tmp/build/80754af9/pytz_1612215392582/work
six @ file:///tmp/build/80754af9/six_1623709665295/work
soupsieve==2.2.1
sqlparse==0.4.1
wincertstore==0.2
